*{
    font-family: Poppins, sans-serif;
}

.left_part {
    background-image: url(../img/register.jpg);
}

.eulabox {
    margin: 0 0 8px 78px;
}

.error_msg {
    margin: 0 0 8px 78px;
    color: #ffff76;
}
