<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/notFound.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="course_list_not_found">
        <div class="not_found-item">
            <div class="not_found_item-head">
                <h1 class="not_found_item_head-title">
                    <span class="not_found_item_head-first">4</span><span class="not_found_item_head-second">0</span><span class="not_found_item_head-third">4</span></h1>
            </div>
            <div class="not_found_item_body">
                <h1 class="not_found_item_body-title">Oops... You Haven't Enroll Any Course</h1>
                <p class="not_found_item_body-desc">
                    <span>Sorry, can't found any course, you must enroll some course before</span> <br/>
                    <span>Make sure you've taken the course </span>
                </p>
            </div>
            <div class="not_found-btn">
                <a class="not_found_btn-link" href="#">Homepage</a>
            </div>
        </div>
    </div>
</body>
</html>